@model Empty_TaskApplication.Models.TaskView
@{
    ViewBag.Title = "Create Task";
}

<h2>Create Task</h2>

@using (Html.BeginForm())
{
    <body>

        @Html.LabelFor(model => model.name) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Html.EditorFor(model => model.name)
        <br /><br />
        @Html.LabelFor(model => model.fromDate) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Html.EditorFor(model => model.fromDate)
        <br /><br />
        @Html.LabelFor(model => model.toDate) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Html.EditorFor(model => model.toDate)
        <br /><br />
        <input type="submit" value="Create" class="btn btn-default" />
    </body>
}